@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor_alertas{
    width: 90%;
    margin: 0 auto;
}
.alerta{
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    max-width: 80rem;

    &.exito{
        background-color: lighten($color: v.$verde, $amount: 60%);
        border-left: .5rem solid v.$verde ;
        color: v.$verde;
    }
    &.error{
        background-color: lighten($color: v.$rojo, $amount: 50%);
        border-left: .5rem solid v.$rojo ;
        color: v.$rojo;
    }
    &--cargando{
        animation: vuelta360  .6s linear infinite ;
        width: 3rem;
    }
    &--cargando-grande{
        animation: vuelta360  .6s linear infinite ;
        width: 5rem;
        position: absolute;
        inset: 0;
        margin: auto;
    }
    &--check{
        width: 3rem;
    }
    &--check-grande{
        width: 5rem;
        position: absolute;
        inset: 0;
        margin: auto;
    }
}
.mensaje-error{
    font-size: 1.1rem;
    margin: .4rem 0px;
    font-weight: 600;
    color: v.$rojo;
}
@keyframes vuelta360 {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}


