@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton{
    @include m.boton(v.$rosadoOscuro, v.$azulOscuro);
    
}
.botonNegro{
    @include m.boton(v.$negro, v.$blanco)
    
}
.botonBorrar{
    @include m.boton(v.$rojo, v.$blanco);
}
.botonChico{
    width: 3rem;
    height: 3rem;
    background-color: v.$verde;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    cursor: pointer;
}
.botonChicoRojo{
    width: 3rem;
    height: 3rem;
    background-color: v.$rojo;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    cursor: pointer;
}
.botonComprar{
    @include m.boton(v.$azulClaro, v.$rosadoOscuro);
}
.botonAzul{
    @include m.boton(v.$azul, v.$blanco);
    margin: 3rem 1rem 1rem 0;
    
}
.botonDorado{
    @include m.boton(v.$dorado_admin, v.$negro);
    margin: 0;
    
}
.boton-eliminar{
    @include m.boton(v.$rojo, v.$blanco);
    margin: 0;
}
.boton-editar{
    @include m.boton(v.$dorado_admin, v.$blanco);
    margin: 0;
}
.boton-ver{
    @include m.boton(v.$azulClaro, v.$blanco);
    margin: 0;
}