@use 'base/variables' as v;
@use 'base/mixins' as m;
.modal{
    z-index: 1000;
    position: fixed;
    inset: 0;
    
    background-color: rgba(65, 49, 49, 50%);
    /* background-color: rgba(red, green, blue, alpha); */
    .menu{
        height: 100%;
        padding: 3rem 0;
        background-color: rgb(215, 220, 224);
        max-width: 26rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: menuAnimacion .2s linear ;
        @include m.tablet{
            max-width: 40rem;
        }
        .menuCampo{
            a{
                font-size: 2rem;
                @include m.tablet{
                    font-size: 2.4rem;
                }
            }
        }

        
    }
    .fade_out{
        animation: fade_out .2s linear forwards ;
    }
    .salida_derecha{
        animation: salida_derecha .2s linear ;
    }
}
@keyframes menuAnimacion {
    from{
        transform: translate(-40rem);
    }
    to{
        transform: translate(0);

    }
}
@keyframes fade_out {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-40rem);
    }
}
@keyframes salida_derecha{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(50rem);
    }
}
@keyframes entrada_derecha{
    0%{
        transform: translate(50rem);
    }
    100%{
        transform: translate(0);
    }
}



.menuHeader{
    .icono{
        color: white;
        background-color: rgba(0, 0, 0, 0.58);
        padding: 2rem 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 2rem;
        margin-bottom: 4rem;

    }
}

.menuCampo{
    padding: 2rem;
    &:hover{
        background-color: v.$naranja_admin;
    }
    a{
        color: black;
        font-size: 2.5rem;
        font-weight: bold;
        
    }
}
    
.modalCarrito{
    
    #carritoDeCompras{
        /* max-width: 100%;
        height: max-content;
        display: grid;
        justify-content: flex-end; */
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        animation: entrada_derecha .2s linear;
    }
    
    .contenedorCarritoCompras{
        width: 80%;
        overflow-y: scroll;
        @include m.telefono{
            width: 60%;
        }
        @include m.tablet{
            width: 40%;
        }
        position: absolute;
        right: 0;
        height: 100%;
        background-color: v.$blanco-tw;
        padding: 4rem;
    }
    .interfazCampo{
        /* background-color: rgb(215, 220, 224); */
        border-bottom: 1px solid v.$gris;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        max-width: 50rem;
        &:last-of-type{
            border-bottom: unset;
        }
        display: flex;
        gap: 1rem;
        color: v.$azulClaro;
        img{
            max-width: 50%;
            object-fit: scale-down;
            object-position: center center;
        }
        .infoProductoCarrito{
        flex-basis: 50%; 
         
        }
        .nombre-producto{
            font-weight: v.$bold;
        }
        .precio-producto{
            color: v.$verde;
        }
    }
}
.modal_contenido{
    width: 100%;
    height: 100%;
}
//carrito vacio
.carritoVacio{
    font-family: v.$fuente_principal_2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
    &__parrafo{
        font-weight: 800;
        &--blanco{
            color: v.$blanco-tw;
            font-size: 3rem;
        }
    }
    &__icono{
        max-width: 8rem;
        &--blanco{
            filter: brightness(0) invert(1);
            
        }
    }
    &__boton{
        @include m.boton(v.$blanco, v.$negro);
        width: auto;
        margin: 3rem 0 0 0;
        border-radius: .5rem;
    }
}