@use 'base/variables' as v;
@use 'base/mixins' as m;

//seccion 2 paso 2
/* .formulario_carrito_de_compras{
    background-color: v.$blanco-tw;
    margin-bottom: 0;
    p,label,h1,h2{
        color: v.$negro-tw;
    }
}
.form{
    padding: 3rem;
    
}
.campoFormulario{
    display: grid;
    margin-bottom: calc(v.$separacion / 2);
    .label{
        margin: calc(v.$separacion / 4) 0;
        font-weight: v.$bold;
        &:first-of-type{
            margin-top: 0;
        }
    }
    input,
    .textArea,
    .select{
        padding: 1rem;
        font-size: 2rem;
        &::placeholder{
            font-size: 2rem;
        }
    }
    .select{

    }
    .label_enviar_direccion_diferente{
        display: flex;
        gap: 2rem;
        input{
            width: 3rem;
        }
    }
}
.campo_nombre_and_apellido{
  
}
 */
