@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;
    margin: 5rem 0;

    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin titulo{
    font-family: v.$fuente_principal_2;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
/* Comienza mixins para landingPage */
@mixin titulo_lp{
    font-family: v.$fuente_principal_2;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    &--blanco{
        color: v.$blanco;
    }
}
@mixin subtitulo_lp{
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    
}
/* Termina mixins para landingPage */
@mixin campo_formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet{
        flex-direction: row;
        gap: 2rem;
    }
    margin: 2rem 0;
    &--column{
        flex-direction: column;
        gap: 0;
    }
    &--row{
        flex-direction: row;
    }
    &--gap{
        gap: 1rem
    }
}
@mixin label_formulario{
    color: #102272;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    display: inline-block;
    &--block{
        display: block;
    }
}
@mixin input_formulario{
    border: 1px solid lighten(v.$gris-tw, 20);
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        font-size: 1.4rem;
        width: 100%;
        @include tablet{
            font-size: 1.8rem;
        }
        &::placeholder{
            font-size: 1.4rem;
            @include tablet{
                font-size: 1.8rem;
            }
        }
}
@mixin submit_formulario{
    @include boton(v.$negro-tw, v.$blanco-tw);
    margin: 3rem 0 0 0 ;
    border-radius: .5rem;
    max-width: 20rem;
    align-self: flex-end;
    &:hover{
        
        /* background-color: lighten(v.$negro-tw, 30%) */
        background-color: darken(v.$blanco-tw, 30%);
        color: v.$negro-tw;
        
    }
}
@mixin textarea_formulario{
    display: block;
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    border: none;
    border: 1px solid v.$gris-tw;
    @include tablet{
        font-size: 1.8rem;
    }
    &::placeholder{
        font-size: 1.4rem;
        @include tablet{
            font-size: 1.8rem;
        }
    }
}
@mixin shadow{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
}
@mixin textoResponsivo($min,$maximo){
    font-size: clamp($min, -0.8rem + 10vw ,$maximo)!important;
}
@mixin textoResponsivoIdeal($min,$ideal,$maximo){
    font-size: clamp($min, $ideal,$maximo);
}
