/* Tipografia */
@use 'base/variables' as v;
@use 'base/mixins' as m;

h1, h2, h3 {
    font-family: "Exo 2", sans-serif;
    margin: 0 0 calc(5rem / 2) 0 ;
    font-weight: 900;
    color: v.$negro-tw;
    text-align: center;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    text-align: center;
}
p {
    font-family: "Exo 2", sans-serif;
    color: v.$negro-tw;
    font-size: 2rem;
}
legend,
span,a,button{
    font-family: "Exo 2", sans-serif;
}

label{
    font-size: 2rem;
}
.bg-black{
    opacity: 50%;
}