// Fuentes
$fuente_principal: 'Poppins', sans-serif;
$fuente_principal_2: "Montserrat", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #e1e1e1;

//Colores login
$gris_login: rgb(245 245 245);
$gris_login_oscuro: rgb(211 211 211);
$negro_login: rgb(28 28 28);
$azul_login: rgb(0 95 255);
$verde_alerta_login: rgba(16, 239, 42, 0.45);
$rojo_alerta_login: rgba(215, 45, 45, 0.71);

//Termina colores login


//Colores admin

$azul_claro_admin: rgb(45 96 183 / 64%);
$gris_admin: #e5d9dc;
$dorado_admin : #9b9b21;
$blanco_admin: rgb(255 255 255);
$naranja_admin : #fb923c;

//Termina colores admin

//comienza colores tailwin
$blanco-tw: #fafafa;
$gris-tw: #a3a3a3;
$grisOscuro-tw: #525252;
$negroClaro-tw: #262626;
$negro-tw: #0a0a0a;


//termina colores tailwin


$rosadoClaro: #EBA4D2;
$rosadoOscuro: #CC54D0;
$rojoError : #e33131;
$azulClaro : #6AAFF2;
$azulMedio : #4A42AE;
$azulOscuro : #21174B;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900