@use 'base/variables' as v;
@use 'base/mixins' as m;
//tabs{
    .tabs{
        max-width: 110rem;
        width: 95%;
        margin: 1rem auto;

        @include m.tablet{
            display: flex;
            margin: 0 auto;
            gap: 1rem;
            padding: 1rem;
            button{
                margin-right: 1rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        button{
            background-color: v.$azul;
            border: none;
            color: v.$blanco;
            font-weight: v.$bold;
            padding: 2rem;
            display: block;
            width: 100%;
            margin: 0 auto 2rem auto;
            text-transform: uppercase;
            transition: background-color 300ms ease;
            font-size: 1.5rem;
            max-width: 40rem;
            border-radius: .5rem;
            &:hover{
                cursor: pointer;
                background-color: darken(v.$azul, 10%);
            }
            &.actual{
                background-color: v.$blanco;
                color: v.$azul;
            }
    
        }
    }
//Botones de paginacion:
.paginacion {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    max-width: 100rem;
    gap: 1rem;
    @include m.tablet{
        padding: 0 4rem;
    }
}

//resumen carrito de compras::
.resumen_carrito_compras{
    width: 95%;
    margin: 0 auto;
    /* background-color: v.$gris;
    overflow: scroll; */
    //Contenedor final despues de la tabla
    .contenedorProductosFormulario{
        .parrafoCarritoVacio{
            color: v.$negro;
            text-align: center;
        }
        .parrafoMontoTotal{
            color: v.$negro;
            text-align: end;
            span{
                color: v.$azulMedio;
                font-weight: bold;
            }
        }
        .botonSiguienteDiv{
            display: flex;
            justify-content: end;
        }
    }
}
table{
    min-width: 55rem;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    thead{
        background-color: v.$verde;
        font-size: 2rem;
        

    }
    tbody{
        padding: 2rem;
        .cantidad_producto,
        .precio-producto,
        .precio-total-produto{
            color: v.$negro;
        }
        .cantidad_producto_div{
            display: grid;
            row-gap: 1rem;
            grid-template-columns: 1fr 1fr;
            .botonChico,
            .botonChicoRojo{
                width: 100%;
            }
            
        }
        
        img{
            max-width: 15rem;
            object-fit: scale-down;
        }
        tr{
            padding: 2rem;
            td{
                margin-left: 3rem;
            }
        }
        .iconoDiv{
            grid-column: 1 / 3;
        }
        i{
            font-size: 26px;
            cursor: pointer;
            
            
        }
    }
    a{
        color: black;
        margin: 1rem;
        
    }
}
.tabla_DetallesDelProducto{
    max-width: 37rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
    }
    .infoProductoCarrito{
        max-width: 30rem;
        .nombre-producto{
            font-weight: bold;
        }
        .descripcion-producto{
            font-size: 1.5rem;
        }
        p{
            color: v.$negro;
            text-align: left;
            span{
                color: v.$azulMedio;
                font-weight: bolder;
            }
        }
        

    }
}
.contenedorProductosFormulario{
    .interfazCampo{
        display: flex;
        img{
            max-width: 22rem;
            object-fit: scale-down;
        }
    }
}
//seccion 2 paso 2

.formulario_carrito_de_compras{
    width: 95%;
    margin: 0 auto;
    @include m.tablet{
        width: 100%;
    }
    &__texto{
        color: v.$blanco-tw;
    }

}
.main--carritoCompras{
    background-image: url('/img/FondoCyberArt.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 67rem;
    padding-top: 1px;
}

//seccion 3 paso 3
.metodo_de_pago{
    background-color: v.$blanco-tw;
    font-family: v.$fuente_principal_2;
    margin-bottom: 2rem!important;
    margin-top: 2rem!important;
    border-radius: .5rem;
    padding-top: 2rem;
    
}

.card{
    padding: 2rem;
    .contenedor_metodo_pago{
        border: 1px solid v.$gris-tw;
        border-radius: .5rem;
        padding: 2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        .input_radio_metodo_pago{
            width: 3.1rem;
            height: 2.5rem;
        }
    }
}
.contenedor_crear_pedido{
    width: 80%;
    margin: 2rem auto;
    .boton_crear_pedido{
        display: block;
        width: 100%;
        max-width: 35rem;
        margin: 0 auto;
    }
    p{
        color: v.$negro;
    }
}

//instrucciones de pago...
.div_instrucciones_pago{
    margin-top: 4rem;
    background-color: v.$gris;
    padding: 2rem;
    h1,h2{
        color: v.$negro;
    }
    p,li{
        color: v.$negro;
        span{
            color: v.$azulMedio;
            font-weight: bold;
        }
    }
}
.lista-productos{
    list-style: none;
    margin: 0;
    padding: 0;
}