@use 'base/variables' as v;
@use 'base/mixins' as m;

.nombre-pagina{
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgb(177 139 139 / 70%);
}
.descripcion-pagina{
    text-align: center;
}


.header{
    background-color: rgb(213, 229, 243);

    &__icono_carrito{
        position: relative;
        span{
            position: absolute;
            font-size: 10px;
            font-weight: 500;
            color: white;
            z-index: 10;
            top: -13px;
            right: -5px;
            background: green;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            text-align: center;
            line-height: 21px;
        }
    }
    
}
.headerContenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .logo{
        max-width: 4rem;
        @include m.telefono{
            max-width: 14rem;
        }
        
    }
    .buttonsHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        gap: 4rem;
        z-index: 10;
        i{
            font-size: 2rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.hamburgerMenu{
    max-width: 3rem;
    &:hover{
        cursor: pointer;
    }
    
}
.redes{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin: 3.2rem auto;
    
    i{
        flex-basis: 5rem;
        font-size: 4rem;
        
    }
}
.interfaz{
    background-color: blueviolet;
    width: 50vw;
    height: max-content;
    top: 6rem;
    right: 10rem;
    position: fixed;
    padding: 2rem;
    display: flex;
    flex-direction: column;


}

.footer{
    background-color: rgb(215, 220, 224);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    
    .categorias{
        display: grid;
        @include m.tablet{
            display: flex;
            justify-content: center;

        }
        gap: 1.5rem;
        margin: 1.5rem auto;
    }
    .categorias a p{
        color: black;font-weight: 700;
        padding: 1rem 2rem;
        &:hover{
            background-color: v.$naranja_admin;
        }
        @include m.tablet{
            font-size:2.5rem;

        }
    }
    p{
        font-size: 1.5rem;
        text-align: center;
        color: black;
        margin: 0;
    }
    
}
.positionFixed{
    position: fixed ;
    width: 100%;
    top: 0;
    z-index: 100;
    
}
.link_cerrar_sesion{
    align-self: center;
    
}
.contenedor_botonWp{
    position: fixed;
    z-index: 1000;
    bottom: 10vh;
    right: 10vw;
    border-radius: 50%;
    background-color: v.$verde-claro;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    animation: pulse 2s infinite ;
    i{
        font-size: 4rem;
        color: v.$blanco;
    }
    &--sm{
        @extend .contenedor_botonWp;
        i{
            font-size: 3rem;
        }
    }
    
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}