@use 'base/variables' as v;
@use 'base/mixins' as m;

.header_lp{
    background-color: v.$verde_alerta_login;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    &__logo{
        max-width: 20rem;
    }
}